---
---

<div id="roll-result-banner" class="roll-result-banner hidden">
  <div class="banner-total">
    <span class="banner-total-label">Result</span>
    <span id="result-total-number" class="banner-total-value">0</span>
  </div>
  <div id="result-breakdown-display" class="banner-breakdown">0</div>
</div>
